#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

/* This sets the timing of the image change */

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* This sets the behaviour of the image change when touched by the Mouse */

/*
#cf img.top:hover {
  opacity:0;
} */

 @keyframes cfFadeInOut {
  0% {
  opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
    }

/* This sets the behaviour of the image change to be contioous */

#cf img.top {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}



